{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true,
    "react-native/react-native": true
  },
  "extends": [
    "@react-native-community",
    "standard",
    "standard-react",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "babel",
    "react",
    "react-native",
    "flowtype"
  ],
  "globals": {
    "__DEV__": true,
    "by": true,
    "device": true,
    "element": true,
    "expect": true,
    "fetch": true,
    "global": true,
    "jasmine": true,
    "module": true,
    "process": true,
    "React": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "brace-style": [1, "1tbs", { "allowSingleLine": true }],
    "camelcase": [0, { "properties": "always" }],
    "comma-dangle": [1, "always-multiline"],
    "curly": [2, "all"],
    "generator-star-spacing": ["error", { "before": true, "after": false }],
    "indent": [2, 2, { "SwitchCase": 1 }],
    "jsx-quotes": [1, "prefer-single"],
    "max-len": [1, 120, 2],
    "no-alert": [1],
    "no-case-declarations": [0],
    "no-console": [0],
    "no-duplicate-imports": [1, { "includeExports": false }],
    "no-eval": ["error", { "allowIndirect": true }],
    "no-mixed-operators": [0],
    "no-unused-vars": [1],
    "no-useless-return": [1],
    "no-var": 2,
    "import/no-named-default": [0],
    "prefer-const": ["error", { "ignoreReadBeforeAssign": false, "destructuring": "all" }],
    "quote-props": [1, "consistent"],
    "quotes": [1, "single"],
    "react/display-name": [0, { "ignoreTranspilerName": true }],
    "react/jsx-indent": [2, 2],
    "react/jsx-wrap-multilines": [
      1,
      {
        "declaration": "parens",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "ignore",
        "logical": "ignore",
        "prop": "ignore"
      }
    ],
    "react/jsx-closing-bracket-location": [1, { "selfClosing": "line-aligned", "nonEmpty": "line-aligned" }],
    "react/jsx-first-prop-new-line": [1, "multiline"],
    "react/jsx-max-props-per-line": [
      1,
      {
        "maximum": 1
      }
    ],
    "react/jsx-no-bind": [
      2,
      {
        "allowArrowFunctions": true,
        "allowBind": false,
        "ignoreRefs": true
      }
    ],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/no-unused-prop-types": [1, { "skipShapeProps": true }],
    "semi": [2, "never"],
    "react-native/no-unused-styles": 2,
    "space-before-function-paren": [
      1,
      {
        "anonymous": "always",
        "named": "always",
        "asyncArrow": "always"
      }
    ],
    "yield-star-spacing": ["error", { "before": true, "after": false }],
    "flowtype/boolean-style": [
      2,
      "boolean"
    ],
    "flowtype/define-flow-type": 1,
    "flowtype/delimiter-dangle": [
      2,
      "always"
    ],
    "flowtype/generic-spacing": [
      2,
      "never"
    ],
    "flowtype/no-mixed": 2,
    "flowtype/no-primitive-constructor-types": 2,
    "flowtype/no-types-missing-file-annotation": 2,
    "flowtype/no-weak-types": [2, {
      "any": false,
      "Object": false,
      "Function": false
    }],
    "flowtype/object-type-delimiter": [
      2,
      "comma"
    ],
    "flowtype/require-readonly-react-props": 0,
    "flowtype/require-valid-file-annotation": 2,
    "flowtype/semi": [
      2,
      "always"
    ],
    "flowtype/space-after-type-colon": [
      2,
      "always"
    ],
    "flowtype/space-before-generic-bracket": [
      2,
      "never"
    ],
    "flowtype/space-before-type-colon": [
      2,
      "never"
    ],
    "flowtype/type-id-match": [
      2,
      "^([A-Z][a-z0-9]+)+Type$"
    ],
    "flowtype/union-intersection-spacing": [
      2,
      "always"
    ],
    "flowtype/use-flow-type": 1,
    "flowtype/valid-syntax": 1
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  }
}
